.App {
  text-align: center;
}

.logo {
  height: 40vmin;
  pointer-events: none;
}

.abc {
  font-size: 50px;
  font-weight: 700;
  color: darkorchid;
}

.called {
  font-size: 50px;
  font-weight: 700;
  color: gray;
}
